%ul
    - @user.circles.all.each do |circle| 
        %li
            = link_to "/circle/#{circle.id}", "#{circle.name.capitalize}"
            / %span - #{circle.users.count}
            = link_to "/circle/#{circle.id}/edit" ,"edit" if your_circle circle
            = link_to "/circle/#{circle.id}/delete" ,"delete (no confim)" if your_circle circle