.row.user-act
    .user-tasks.col-lg-9.col-md-9
        - if you
            - if @user.tasks.empty? 
                %span.content-empty No tasks
            - else
                .tasks
                    - @user.tasks.order("created_at DESC").all.each do |task| 
                        %ul
                            %li
                                = h task.name.capitalize
                                - date = task.due
                                - if !date.nil?
                                    = (date.in_time_zone logged_in_user.timezone).strftime("%-d %B %l :%M %P")
                                = link_to "/task/#{task.id}/edit" ,"edit" if you
                                = link_to "/task/#{task.id}/delete" ,"delete (no confim)" if you
    .user-tasks-add.col-lg-3.col-md-3.text-center
        %h4.create-task-form Create a task
        = haml :create_task, layout: false