%section.user_info
    =logged_in_user.timezone
    .container-profile
        .profile-box
            .profile-cover-image
                %img{src: "http://api.randomuser.me/portraits/lego/#{a = rand(1..9)}.jpg"}
            .profile-picture
                %img{src: "http://api.randomuser.me/portraits/lego/#{a}.jpg"}
        .profile-content
            %h1 
                = "#{@user.name}"
            %p 
                = "#{@user.email}"
            .socials
            %a{href: "#"}
                %i.fa.fa-dribbble
            %a{href: "#"}
                %i.fa.fa-twitter
            %a{href: "#"}
                %i.fa.fa-github
-if you
    %h1
        Your Tasks
    - if @user.tasks.empty? 
        = "no TASKS ;("
    - @user.tasks.order("created_at DESC").all.each do |task| 
        %ul
            %li
                = h task.name
                - date = task.due
                - if !date.nil?
                    = (date.in_time_zone logged_in_user.timezone).strftime("%-d %B %l :%M %P")
                = link_to "/task/#{task.id}/edit" ,"edit" if you
                = link_to "/task/#{task.id}/delete" ,"delete (no confim)" if you
    %h1
        Your Notifications
    - if @user.alerts.empty? 
        = "no Notifications ;("
    - @user.alerts.order("created_at DESC").all.each do |alert| 
        %ul{class: 'messages'}
            %li
                = h alert.message
                = link_to "/circle/invite/accept/#{alert.id}", "Accept"
                = link_to "/circle/invite/decline/#{alert.id}", "Decline"
    %h1
    - if you && @user.circles.empty? 
        = "no CIRCLES ;("
    - elsif you
        CIRCLES
        - @user.circles.all.each do |circle| 
            %ul
                %li
                    = link_to "/circle/#{circle.id}", "#{circle.name}"
                    = link_to "/circle/#{circle.id}/edit" ,"edit" if your_circle circle
                    = link_to "/circle/#{circle.id}/delete" ,"delete (no confim)" if your_circle circle
    - if you 
        %a{href: "/circle/create"} Create a circle 
        %section
            = haml :create_task, :layout => false
