%section.user_ifo
    = "#{@user.email} - #{@user.name}"
%h1
    = you ? "Your Tasks" : "#{@user.name}'s Tasks" 
- if @user.tasks.empty? 
    = "no TASKS ;("
- @user.tasks.order("created_at DESC").all.each do |task| 
    %ul
        %li
            = h task.name
            = link_to "/task/#{task.id}/edit" ,"edit" if you
            = link_to "/task/#{task.id}/delete" ,"delete (no confim)" if you
%h1
- if you && @user.circles.empty? 
    = "no CIRCLES ;("
- elsif you
    CIRCLES
    - @user.circles.all.each do |circle| 
        %ul
            %li
                = link_to "/circle/#{circle.id}", "#{circle.name}"
                = link_to "/circle/#{circle.id}/edit" ,"edit" if you
                = link_to "/circle/#{circle.id}/delete" ,"delete (no confim)" if you
- if you 
    %a{href: "/circle/create"} Create a circle 
    %section
        %h1
            Add a task
        = haml :form_create_task, :layout => false