%section.user_ifo
    = "#{@user.email} - #{@user.name}"
-if you
    %h1
        Your Tasks
    - if @user.tasks.empty? 
        = "no TASKS ;("
    - @user.tasks.order("created_at DESC").all.each do |task| 
        %ul
            %li
                = h task.name
                = link_to "/task/#{task.id}/edit" ,"edit" if you
                = link_to "/task/#{task.id}/delete" ,"delete (no confim)" if you
    %h1
        Your Notifications
    - if @user.alerts.empty? 
        = "no Notifications ;("
    - @user.alerts.order("created_at DESC").all.each do |alert| 
        %ul{class: 'messages'}
            %li
                = h alert.message
                = link_to "/circle/invite/accept/#{alert.id}", "Accept"
                = link_to "/circle/invite/decline/#{alert.id}", "Decline"
    %h1
    - if you && @user.circles.empty? 
        = "no CIRCLES ;("
    - elsif you
        CIRCLES
        - @user.circles.all.each do |circle| 
            %ul
                %li
                    = link_to "/circle/#{circle.id}", "#{circle.name}"
                    = link_to "/circle/#{circle.id}/edit" ,"edit" if your_circle circle
                    = link_to "/circle/#{circle.id}/delete" ,"delete (no confim)" if your_circle circle
    - if you 
        %a{href: "/circle/create"} Create a circle 
        %section
            = haml :create_task, :layout => false