= haml :header, :layout => false
%body
    %header
        .container
            .header-wrapper
                .col-lg-8.col-sm-12
                    .logo 
                        = link_to "/", "Annoyer.io"
                .col-lg-4.hidden-sm.text-right
                    = p session.inspect
                    - if is_logged_in?
                        %span Welcome, #{username}
                        = link_to '/logout', "Log Out"
                    - else
                        %span Welcome1s, #{DEFAULT_USERNAME}
                        = link_to '/signup' , "Login/Sign Up"
        .container
            - if  !session[:message].nil? && !session[:message].empty?
                .alert.alert-success  
                    = session[:message]
            - session[:message] = ""
            .jumbotron
                %h1.text-center Lorem ipsum dolor sit amer, lufireus ae dloelrs fi  fodprun
                %h2.text-center Lorem ipsum dolor sit amet
            = yield
    %footer
        .container
            .col-lg-4.text-left
                %span
                    Copyright
            .col-lg-8.text-right 
                %span
                    Love your task (c)