= haml :header, :layout => false
%body
    %nav.navbar.navbar-default{role: "navigation"}
        .container
            .navbar-header
                %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                %a.navbar-brand{href: "/"} gyst
            .navbar-right.navbar-ex1-collapse
                %ul.nav.navbar-nav
                    %li  
                        - if is_logged_in?
                            .nav-login-block
                                / %a{href: "#", class: "btn-add-user"} +
                                %a{href: "/user/#{logged_in_user.id}"}
                                    %img{src: "/imgs/lego_faces/#{logged_in_user.picture}.jpg", class: "user-pic"}
                                    %a{href: "/user/#{logged_in_user.id}", class: "alerts"} 
                                        = get_reminders.size
                                    Welcome, 
                                    = link_to "/user/#{logged_in_user.id}", username
                                %a{href: "/logout", alt: "Log Out", class: "icon icon-exit"}
                                
                        - else
                            .nav-login-block
                                %span
                                    Welcome, #{DEFAULT_USERNAME}
                                = link_to '/signup' , "Login/Sign Up", {class: "btn-login"}
    %header
        .container
            .messages
                - if  !session[:message].nil? && !session[:message].empty?
                    .alert.alert-success  
                        = session[:message]
                - session[:message] = ""
                = print_errors
                -if !session[:error].nil? && !session[:error].empty?
                    .alert.alert-danger
                        = session[:error]
                - session[:error] = ""
            = yield
    %footer
        .container
            .col-lg-4.text-left
                %span
                    Copyright
            .col-lg-8.text-right 
                %span
                    Show care, remind. 



